.jumbotron2 {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.75);
  border: 9px solid white;
}
.jumbotron2 .h2,
.jumbotron2 h2 {
  color: inherit;
  font-weight: bold;
}
.jumbotron2 p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron2 > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron2,
.container-fluid .jumbotron2 {
  padding-right: 10px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron2 .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .container .jumbotron2,
  .container-fluid .jumbotron2 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron2 .h1,
  .jumbotron2 h1 {
    font-size: 63px;
  }
}
